*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    color: #3d3d3d;
    background-color: #fff;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    font-weight: bold;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}

.space {
    margin-bottom: 50px;
}

/* begin header */
.close {
    display: none;
}

nav {
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    display: inline-block;
}

.logo a {
    color: white;
}

.logo a:hover {
    text-decoration: none;
}

.toggle {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

header nav .nav-menu {
    display: inline-block;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
    padding: 8px 5px;
}

.nav-menu ul li a {
    color: #fff;
}

.intro {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

.intro img {
    /* max-height: 100%; */
    max-width: 100%;
}

.intro::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.intro .container {
    margin: auto;
    color: white;
    text-align: center;
    z-index: 1;
}

/* end header */

/* About */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-4 {
    width: 33%;
    padding: 15px;
}

.col-3 {
    width: 25%;
    padding: 15px;
}

.col-6 {
    width: 50%;
    padding: 15px;
}

.about .col-4 {
    text-align: center;
}

.title {
    text-align: center;
}

.title h1 {
    color: steelblue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.card {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    height: 200px;
    background-color: gray;
    position: relative;
}

.card-header img {
    height: 100%;
}

.card-header h1 {
    height: 64px;
    width: 64px;
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 32px);
    bottom: -40px;
    color: white;
    border-radius: 50%;
    background-color: steelblue;
    border: 5px solid white;
    transition: 0.3s;
}

.card-header h1:hover {
    background-color: white;
    color: steelblue;
}

.card-content {
    padding: 22px 12px;
    background-color: #fff;
}

/* end About */
.feedback {
    padding: 50px 0 70px 0;
    background: rgb(166, 208, 243, 0.2);
}

.feedback .container {
    max-width: 800px;
}

.form-group {
    margin-bottom: 8px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-control {
    padding: 12px 8px;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    font-family: "Quicksand", sans-serif;
}

.form-control:focus {
    border-color: #353535;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25)
}

.btn {
    padding: 12px 8px;
    display: block;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    background: steelblue;
    color: #fff;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(0, 71, 129, 0.5);
    transition: 0.5s;
}

.btn:hover {
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25)
}

/* footer */
footer .main {
    background-color: #111111;
    color: #fff;
    padding: 30px 0;
}

footer .main ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

footer .main p {
    margin-bottom: 15px;
}

.medsos {
    display: flex;
}

footer .main .medsos li a {
    margin-right: 5px;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #222222;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.3s;
}

footer .main .medsos li a:hover {
    background-color: steelblue;
}

footer .main footer-title {
    padding-bottom: 6px;
    margin-bottom: 15px;
    border-bottom: 3px solid steelblue;
}

footer .main form {
    display: flex;
}

footer .main form button {
    color: white;
    background-color: steelblue;
    padding: 8px 10px;
    font-family: "quicksand";
    border: 0;
}

footer .main form button:hover {
    cursor: pointer;
    background-color: rgb(50, 114, 167);
}

footer .main form input {
    padding: 8px 10px;
    font-family: "quicksand";
    border: 0;
    font-size: 16px;
}

footer .credit {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

footer .credit p {
    line-height: 0;
}

.credit a {
    color: steelblue;
}

.credit small {
    line-height: 0;
}

/* end footer */

/* responsive */